.weather-details {

  &__forecast {
  }

  &__buttons {
    display: flex;
    gap: 26px;
    margin-bottom: 50px;
  }

  &__button {
    font-weight: 600;
    font-size: 24px;
    color: rgba(255, 255, 255, 0.5);
    padding: 0;

    &.active {
      text-decoration: underline;
      text-decoration-style: wavy;
      color: var(--color-main);
    }
  }

  &__cards {
    display: none;
    gap: 15px;
    justify-content: space-between;
    margin-bottom: 50px;

    &.active {
      display: flex;
    }
  }

  &__card {
    flex: 0 1 106px;
    display: flex;
    gap: 7px;
    flex-direction: column;
    align-items: center;
    padding: 16px 10px;

    font-weight: 600;
    font-size: 24px;

    &-day {
      word-break: break-word;
    }

    &-image {
    }

    &-temperature {
    }
  }

  &__current-day {
    padding: 20px;
    display: none;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 50px;

    &.active {
      display: flex;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
  }

  &__day {
    font-weight: 600;
    font-size: 36px;
  }

  &__temperature {
    font-weight: 600;
    font-size: 30px;
  }

  &__overview {
    &-title-block {
      font-weight: 600;
      font-size: 24px;
      margin-bottom: 50px;
    }

    &-cards {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 40px 20px;
    }

    &-card {
      padding: 15px 20px;
    }

    &-title {
      font-weight: 500;
      font-size: 17px;
      line-height: 2.12;
      margin-bottom: 30px;
    }

    &-num {
      font-weight: 600;
      font-size: 48px;
    }

    &-state {
      font-weight: 700;
      font-size: 17px;
      line-height: 2.12;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &-chart {
    }

    &-sunrise,
    &-sunset {
      display: flex;
      gap: 22px;
    }

    &-content {
      display: flex;
      flex-direction: column;
    }

    &-sun {
      font-weight: 500;
      font-size: 12px;
      line-height: 1.67;
      color: var(--color-accent);
    }

    &-time {
      font-weight: 500;
      font-size: 17px;
      line-height: 2.12;
    }
  }

  @media (max-width: 800px) {
    &__overview-cards {
      grid-template-columns: 1fr;
    }

    &__cards {
      flex-wrap: wrap;
      justify-content: center;
    }
  }
}