.stats {
  display: flex;
  padding: 15px;
  gap: 34px;
  justify-content: space-between;
}

.stat {
  display: flex;
  gap: 8px;
}

.info {
  display: flex;
  flex-direction: column;
}

.indicator {
  font-weight: 600;
  font-size: 24px;
}

.text {
  font-size: 16px;
}

@media (max-width: 500px) {
  .stats {
    flex-direction: column;
  }
}