.weather-details {
  &__day {
    font-weight: 600;
    font-size: 36px;
  }

  &__temperature {
    font-weight: 600;
    font-size: 30px;
  }

  &__overview {
  }

  @media (max-width: 800px) {
    &__overview-cards {
      grid-template-columns: 1fr;
    }
  }
}